<div class="container container-pieces max-height-100vh">
  <div class="new_booking">
    <h2>Nouvelle réservation 📆</h2>

  <%= simple_form_for [@piece, @booking] do |f| %>
    <h2><%= @piece.name %></h2>
    <h3><%= @piece.price %> € </h3>
    <%= f.input :checkin, placeholder: "checkin-date", as: :date%>
    <%= f.input :checkout, placeholder: "checkout-date", as: :date%>
    <%= f.submit "Réserver cette pièce", class: "btn btn-primary" %>
  <% end %>
  </div>
</div>

<!-- , hint: "#{link_to 'Book The Artwork' }" -->
