<div class="container max-height-100vh">
  <div class="Profil">
  <h1>Mon profil </h1>
  <h2>Mes oeuvres</h2>
    <div class="mes-infos">
      <%= @user.first_name %>
    </div>
    <div class="row">
      <% @pieces.each do |piece| %>
        <div class="profile-card">
          <h3 class="art-piece-pricing"><%= piece.price %> €</h3>
            <% if piece.photo_url.present? %>
            <%= image_tag(piece.photo_url,  alt: "artpiece1", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))") %>
            <% else %>
            <%= image_tag("paysage.jpg", :alt => "photo-paysage") %>
            <% end %>
            <div class="art-piece-infos">
              <h1><%= link_to piece.name, piece_path(piece) %></h1>
              <p><%= piece.description %></p>
            </div>
        </div>
      <% end %>
    </div>
        <h2>Réservations</h2>
    <div class="row">
      <% @bookings_by_other_user.each do |booking| %>
        <div class="profile-card">
          <h3 class="art-piece-pricing"><%= booking.piece.price %> €</h3>
          <% if booking.piece.photo_url.present? %>
            <%= image_tag(booking.piece.photo_url,  alt: "artpiece1", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))") %>
            <% else %>
            <%= image_tag("paysage.jpg", :alt => "photo-paysage") %>
            <% end %>
            <div class="art-piece-infos">
                <%# <h1><%= link_to piece.name, piece_path(piece) %>
                <h1><%= booking.piece.name  %></h1>
              <h4>Du <%= booking.checkin %> au <%= booking.checkout %></h4>
            </div>
        </div>
      <% end %>
    </div>
     <h2>Les oeuvres que j'ai réservé</h2>
      <div class="row">
        <% @booked_pieces.each do |booking| %>
        <div class="profile-card">
          <h3 class="art-piece-pricing"><%= booking.piece.price %> €</h3>
            <% if booking.piece.photo_url.present? %>
            <%= image_tag(booking.piece.photo_url,  alt: "artpiece1", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))") %>
            <% else %>
            <%= image_tag("paysage.jpg", :alt => "photo-paysage") %>
            <% end %>
          <div class="art-piece-infos">
              <div>
              <h1><%= booking.piece.name  %><h1>
              <h4>Du <%= booking.checkin %> au <%= booking.checkout %></h4>
              </div>
          </div>
        </div>
        <% end %>
      </div>
      <h4><%= link_to "Retour au menu", root_path %></h4>
   </div>
  </div>
