<div class="container max-height-100vh">
  <div class="card card-show">
    <% if @piece.photo_url.present?  %>
    <%= image_tag @piece.photo_url %>
    <% else %>
    <%= image_tag("paysage.jpg", :alt => "photo-paysage") %>
    <% end %>
    <h1><%= @piece.name %></h1>
    <h2><%= @piece.price %>€</h2>
    <h4><%= @piece.creation_date %> After Jesus Death</h4>
    <p><%= @piece.description %></p>
    <div class="btn-show">
      <% if @piece.user == current_user %>
        <%= link_to "Delete", piece_path(@piece), method: :delete, class: "btn btn-info" %>
        <%= link_to "Edit", edit_piece_path(@piece), method: :get, class: "btn btn-info" %>
      <% else  %>
        <%= link_to "Booking",  new_piece_booking_path(@piece), method: :get, class: "btn btn-info" %>
    <% end %>
    </div>
  </div>
  <h4><%= link_to "Retour au menu", root_path %></h4>
</div>


    <%# border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-height: 100vh;
    object-fit: cover; %>
