<div class="container max-height-100vh">
  <div class="card card-show">
    <%# <%= image_tag("michou.jpg", :alt => "photo-portrait")%>
    <%= image_tag("paysage.jpg", :alt => "photo-paysage") %>
    <h1><%= @piece.name %></h1>
    <h2><%= @piece.price %>€</h2>
    <h4><%= @piece.creation_date %> After Jesus Death</h4>
    <p><%= @piece.description %></p>
    <div class="btn-show">
      <%= link_to "Delete", piece_path(@piece), method: :delete, class: "btn btn-info" %>
      <%= link_to "Edit", edit_piece_path(@piece), method: :get, class: "btn btn-info" %>
    </div>
  </div>
</div>
